.taskcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */

    backdrop-filter: blur(62px);
    background-color: rgba(255, 255, 255, 0.171);
    caret-color: transparent;

    padding: 15px 20px;
    margin: 8px 0;
    border-radius: 10px;
    max-height: fit-content;
    width: 70%;

    border: solid 2px;
    border-left: solid 9px;
}

.taskcard div p{
    margin: 0;
}

.taskcard-element{
    margin: 0 10px;
}

.taskcard-container{
    display: flex;
    flex-direction: column;
    min-width: 130px;
    max-width: 130px;
}

.taskcard-status p{
    font-weight: bold;
}

.taskcard-title{
    min-width: 170px;
    max-width: 170px;
}
.taskcard-title p{
    font-size: 20px;
}

.taskcard-description{
    margin-left: 10px;
    flex-grow: 1;
}

.taskcard-budget{
    min-width: fit-content;
    max-width: fit-content;
}


.taskcard-level{
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

i{
    vertical-align: middle;
    caret-color: transparent;
}

.fa-trash{
    color: red;
}

.taskcard-owner{
    display: none;
    position: fixed;
    right: -60px;
}

.taskcard:hover .taskcard-owner{
    display: block;
}

@media (max-width: 1350px) {
    .taskcard{
        width: 100%;
        transition: all .5s ease-in-out;
    }

    .taskcard:hover .taskcard-owner{
        display: none;
    }
}

@media (max-width: 790px) {
    #list{
        transition: all .5s ease-in-out;
        padding: 10px;
    }

    .taskcard-title{
        max-width: fit-content;
        min-width: fit-content;
    }
    .taskcard{
        flex-direction: column;
        align-items: start;
        padding: 15px 60px;
    }
    .taskcard-level{
        margin: 0 20px;
        width: 100%;
    }
    .taskcard-trash{
        display: flex;
        justify-content: center;
        margin-right: 30px;
        width: 100%;
    }

    .taskcard:hover .taskcard-owner{
        display: block;
        right: 30px;
    }    
}
